<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="VisiativCPQ" value="https://pkgs.dev.azure.com/moovapps/134eced6-808c-4adb-964d-f06d99cf86f1/_packaging/0b43853d-9ce7-4f6e-9c3d-5c52eef0da77/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
